
.wrapper{
    margin: 10% auto;
    width: 50%;
}

.containerLocation{
    padding: 30px;
    background-color: rgb(255, 187, 179);
    color: darkslategrey;
}
.containerPhotos{
    margin-top: 2vh;
    padding: 30px;
    background-color: rgb(179, 226, 255);
    color: darkslategrey;
    max-width: 100vw;
    height: auto;
    display:table;
    overflow:scroll;
}

.hidden{
    display: none;
}

.capMonth{
text-transform: capitalize;
}

#testBtn{
    margin-left: 2vh;
    background-color: darksalmon;
    color: white;
}

img{
    margin: 20px;
    width: 100px;
    height: auto;
    border: 1px solid black;
}